.title {
  margin-top: 20px;
  margin-bottom: 15px;
}

.experience {
  margin-top: 15px;
}

.personalExperience {
  max-width: 100%;
  width: 100%;
  padding-left: 13%;
}

.personalInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}