/* :root {
  --h1Size:36px;
  --h2Size:24px;
  --h3Size:20px;
  --h5Size:20px;
  --pSize:20px;
} */

h1 {
  font-size: var(--h1Size);
  color: #ffff;
  font-family: var(--font);
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: var(--h2Size);
  color: #ffff;
  font-family: var(--font);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 1px;
  margin: 10px 0px;
}

h3 {
  font-size: var(--h3Size);
  color: #ffff;
  font-family: var(--font);
  font-weight: 400;
}

h5 {
  font-size: var(--h5Size);
  color: #A39F9F;
  font-family: var(--font);
  font-weight: 400;
  line-height: 28px;
}

p {
  font-size: var(--h5Size);
  color: #fff;
  font-family: var(--font);
  font-weight: 400;
  line-height: 28px;
}

button {
  font-size: var(--h5Size);
  color: #fff;
  font-family: var(--font);
  font-weight: 400;
  line-height: 28px;
}

/* body {
  background-image: radial-gradient(30% 30% at 30% 30%, rgba(3, 49, 254, .3) 0, transparent 100%), radial-gradient(50% 50% at 50% 50%, rgba(3, 49, 254, .2) 0, transparent 100%), radial-gradient(50% 50% at 50% 50%, rgba(3, 49, 254, .1) 0, transparent 100%);
} */

body {
  background: #000;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1290px;
}

.main {
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

/* Tablet and Smaller Desktop */
@media (max-width: 1024px) {
  .body {
    flex-direction: column;
    max-width: 100%;
    justify-content: flex-start;
    padding: 50px 10px;
  }
}