
.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1290px;
}

.main {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}

/* Tablet and Smaller Desktop */
@media (max-width: 1024px) {
  .body {
    flex-direction: column;
    max-width: 100%;
    justify-content: flex-start;
    padding: 50px 10px;
  }
}