.projectPage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: enter 1s ease-in;
  gap: 30px;
}

@keyframes enter {
  0% {
    zoom: 40%;
  }
  100% {
    zoom: 100%;
  }
}