
.sideProjects {
  transition: .5s;
  transform: translateX(-100%);
  transition: .5s;
  position: absolute;
  height: 100%;
  top: 0;
}

.sideProjects.sideProjectsActive {
  background: rgba(19, 4, 4, 0.2);
  backdrop-filter: blur(8px);
  width: 100%;
  transform: translateX(0%);
  transition: .9s;
}

.sideProjects.sideProjectsActive .sideProjectsButton {
  left: -25px;
  right: unset;
  transition: .5;
  transform: translateX(50%) translateY(-50%);
}

.sideProjectsButton {
  position: fixed;
  right: -39px;
  top: 50%;
  transform: translateX(0%) translateY(-50%);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 40px 4px 40px 7px;
  background: transparent;
  border-radius: 0px 15px 15px 0px;
  box-shadow: -1px 1px 12px 1px #FFFFFF;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.sideProjectsButton:hover {
  padding: 40px 4px 40px 15px;
  box-shadow: -1px 1px 12px 5px #FFFFFF;
}

.sideProjects .sideProjectsContentBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.sideProjects.sideProjectsDisabled .sideProjectsContentBox {
  visibility: hidden;
  transform: translateX(-100%);
  transition: .9s;
}

.sideProjects.sideProjectsActive .sideProjectsContentBox {
  visibility: visible;
  transform: translateX(0%);
  transition: .9s;
  width: 100%;
}

.sideProjects .sideProjectsContent {
  max-width: 1024px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 50px;
}

/* .sideProjects .scroll {
  border-right: 30px solid transparent;
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 40px;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.sideProjects .scroll::-webkit-scrollbar {
  width: 20px;
  height: 30px;
}

.sideProjects .scroll::-webkit-scrollbar-track {
  width: 10px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background: #1E1E1E;
}

.sideProjects .scroll::-webkit-scrollbar-thumb {
  height: 30px;
  border: 3px solid #1E1E1E;
  background-color: #FFFFFF; 
  border-radius: 10px;
} */

.sideProjects h3 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.sideProjectsContent p {
  font-size: 18px;
  line-height: 20px;
  margin: 10px 0px;
}

.content {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  border: 1px solid #b9b6b6;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.content p {
  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;


    @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
}

.sideProjects img {
  border-radius: 20px;
  object-fit: cover;
  max-width: 100%;
  object-position: center;
}

.iconGithub:hover {
  color: #139451;
  cursor: pointer;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .sideProjects {
    height: auto;
  }

  .sideProjects .sideProjectsContentBox {
    height: auto;
  }

  .sideProjects .sideProjectsContentBox .content {
    flex-direction: column;
  }

  .sideProjects .scroll {
    padding-right: 10px;
    border-right: 10px solid transparent;
    padding-left: 20px;
    max-height: 100%;
    overflow-y: hidden;
  }

  .sideProjects h3 {
    background-color: rgba(19, 148, 81, 0.76);
    padding: 0 5px;
  }

  .sideProjects.sideProjectsActive .sideProjectsButton {
    top: 20px;
    left: 10px;
    writing-mode: unset;
    transform: none;
    text-orientation: unset;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: none;
    border: 1px solid #b9b6b6;
  }

  .sideProjects .image {
    max-width: 100%;
    height: 180px;
    object-fit: cover;
  }
}